@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
font-family: Lato, sans-serif;
font-weight: 300;
color: black;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: grey;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 355px;
}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu, #logo{
    line-height: 100px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-shadow: 2px 2px #ff0000;
    
}

.active {
    border-bottom: 3px solid grey;
}

/* hero image and cover text*/

#hero-outer {
    height: 550px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2{
    color: white;
}
#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/pexels-run-ffwpu-5840719.jpg') no-repeat center center;
}

#cover-text{
    font-size: 200%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    height: 400px;
    width: 300px;

    padding-top: 40px;
    padding-left: 20px;

    background-color: rgba(241, 100, 100, .5);

    bottom: 80px;
    left: 350px;

    position: absolute;
}
 /* about */

 #about {
    height: 800px;
    margin: 0 auto;
 }

 #center-about {
    width: 50%;
    margin: 0 auto;
    background-color: silver;
    padding-top: 50px;
 }