@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
font-family: Lato, sans-serif;
font-weight: 300;
color: black;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: grey;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 150px;
}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu, #logo{
    line-height: 100px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-shadow: 2px 2px #ff0000;
    
}

.active {
    border-bottom: 3px solid grey;
}

/* hero image and cover text*/

#hero-outer {
    height: 550px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2{
    color: white;
}
#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/pexels-run-ffwpu-5840719.jpg') no-repeat center center;
}

#cover-text{
    font-size: 200%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    height: 400px;
    width: 300px;

    padding-top: 40px;
    padding-left: 20px;

    background-color: rgba(241, 100, 100, .5);

    bottom: 80px;
    left: 250px;

    position: absolute;
}
 /* about */

 #about {
    height: 700px;
    margin: 0 auto;
 }

 #left-about {
    width: 50%;
    float: left;
    padding-top: 10px;
    background-color: moccasin;
 }

 #left-about-text{
    list-style-type: none;
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
    line-height: 2;
 }

 #right-about {
    width: 50%;
    float: right;
    padding-top: 10px;
    background-color: rgb(242, 190, 101);
 }

 #right-about-text{
    list-style-type: none;
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
    line-height: 2;
 }

 #welcome{
    text-align: center;
    font-size: 300%;
 }
    
 #seeyou-box{
    text-align: center;
    background-color: white;
    position: fixed;
    bottom: 20px;
    right: 0;
    width: 100%;
    text-align: center;  
    }

    #seeyou-text{
        font-size: 300%;
    }

 .about-heading{
    font-size: 250%;
    margin-bottom: 10px;
    margin-left: 20px;
 }

 /* map */
#map-box {

    height: 200px;
    margin-bottom: 50px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* footer */

footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

footer > span {
	color: silver;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}